.App {
  margin: auto;
  text-align: left;
  width: 1480px;
  height: 760px;
  overflow: hidden;
}

.App > #top {
  width: 100%;
  height: 10%;
}

.App > #middle {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

.App > #middle > #Navi {
  width: 15%;
  height: 100%;
}

.App > #middle > #Main {
  width: 85%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid 1px rgb(190, 6, 0);
}

.App > #bottom {
  text-align: center;
  width: 100%;
  height: 5%;
  font-size: 10px;
}